<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">
            <i  class="fa fa-tasks"></i>
        Product Group List

        <div class="float-right" style="margin-bottom: 5px;">
          <button (click)="ClkDone()" class="btn btn-sm btn-primary matDone">Done</button>

            <button (click)="ClkCreateProGroupModal()" class="btn btn-sm btn-primary">Create New</button>
        </div>
        </h3>
      
    </div>
    <div class="panel-body">
    </div>
</div>
<div class="table-responsive">
   
    <div class="float-right" style="display:inline-flex; margin-bottom: 3px;">
        <input type="text"  class="form-control form-control-sm" />      
    </div>
    <div class="wrapper">
        <p *ngIf="productGroupLists.data.length==0"><em>Loading.....</em></p>
        <table mat-table [dataSource]="productGroupLists" matSort class="mat-elevation-z8  table-sm table-hover">
          <tr mat-header-row *matHeaderRowDef="displayedColumns" class="table-column"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;let i = index" [ngClass]="{'highlight': row }" 
          class="table-row"(click)="selectRow(i)" (dblclick)="doubleClick(row,i)">
          </tr>

          <ng-container matColumnDef="index">
            <th  mat-header-cell  *matHeaderCellDef mat-sort-header> Sno </th>
            <td mat-cell *matCellDef="let element; let i = index;">{{i+1}}</td>
          </ng-container>
          <!-- <ng-container matColumnDef="prGroupCode">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
            <td mat-cell *matCellDef="let element"> {{element.prGroupCode}} </td>
          </ng-container> -->
  
          <ng-container matColumnDef="prGrpDesc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Product Description </th>
            <td mat-cell *matCellDef="let element"> {{element.prGrpDesc}} </td>
          </ng-container>
  
          <ng-container matColumnDef="prGrpShortName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Unique Name </th>
            <td mat-cell *matCellDef="let element"> {{element.prGrpShortName}} </td>
          </ng-container>
  
          
        </table>
        <mat-paginator [pageSizeOptions]="[10, 20,30,40,50 ]" showFirstLastButtons></mat-paginator>
      </div>
      <div class="float-right" style="margin-bottom: 5px;">
        <button (click)='OncloseProductGroupList()' class="btn btn-sm btn-primary">Close</button>
    </div>

</div>