table {
    width: 100%;
  }

  .table-row {
    height: 32px ;
  }
  .table-column{
    height: 37px ;
  }
  .btn-mat{
     
      margin: 0px;
      padding: 5px;
      font-size: 13px;
  }
  .matDone{
    margin: 0px 3px 0px 0px;
  }
